{% load static%}
<!-- =========== FOOTER ============ -->
<section id="footer">
    <div class="container-fluid">
        <footer class="row">
            <div class="col">
                <p class="text-muted"> &copy 2019 Comaren </p>
            </div>
            <div class="col text-muted">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </footer>
    </div> <!--container-fluid.//-->
</section>
<!-- =========== FOOTER END // =========== -->