{% extends 'base.html'%}

{% load static%}

{% block content%}

<!-- ========================= SEE ALL PRODUCTS NAV SECTION  ========================= -->
<section id="all">
    <header class="section-heading mt-2">
        <a href="{% url 'store'%}" class="btn btn-outline-primary float-end">See all</a>
        <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading.// -->
</section>
<!-- ========================= END OF SEE ALL PRODUCTS NAV SECTION  ========================= -->

<!-- ========================= BODY ========================= -->
<section id="body">
    <div class="row">
        {% for product in products%}
        <div class="col mb-2">
            <div class="card" style="width: 18rem;">
               <a href="{{ product.get_url}}"> <img src="{{ product.images.url}}" class="card-img" alt="..."> </a> 
                <div class="card-body">
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url}}" class="title">{{ product.product_name}}</a>
                        <div class="price mt-1">${{ product.price}}</div> <!-- price-wrap.// -->
                        <div class="rating-star">
                            <span>
                             <i class="fa fa-solid fa-star{% if product.averageReview < 0.5%}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1%}-half {% endif%}"></i>
                             <i class="fa fa-solid fa-star{% if product.averageReview < 1.5%}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2%}-half {% endif%}"></i>
                             <i class="fa fa-solid fa-star{% if product.averageReview < 2.5%}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3%}-half {% endif%}"></i>
                             <i class="fa fa-solid fa-star{% if product.averageReview < 3.5%}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4%}-half {% endif%}"></i>
                             <i class="fa fa-solid fa-star{% if product.averageReview < 4.5%}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5%}-half {% endif%}"></i>
                            </span>
                        </div>
                    </figcaption>
                </div>
            </div>
        </div> <!-- col.// -->
        {% endfor%}
    </div> <!-- row.// -->
</section>
<!-- ========================= END OF BODY SECTION // ========================= -->
{% endblock%}

